# SEBA gitignore Configuration | FRONTEND
# ---------------------------------------------------------------------------------
# This .env file contains environment-specific variables that are essential for the
# ReadyVetGo Project to function correctly.
#
# IMPORTANT:
# Changes to this file can have significant effects on the operation of the application.
# Please ensure you understand the implications of your modifications.
#
# VERSION CONTROL:
# Every edit made to this file should be done with caution and comprehension.
# After any change, increment the version number below.
# Additionally, ensure that you upload the updated version of this file to the designated Google Drive folder
# to maintain synchronization across all environments and team members.
#
# Current Version: 2
# ---------------------------------------------------------------------------------
VITE_API_BASE_URL  =
VITE_FILE_UPLOAD_URL =
