<div style="display: flex; flex-direction: column; align-items: center; font-family: helvetica, arial, sans-serif;">
    <div style="max-width: 600px; text-align: center">
        <img src="https://dev.readyvetgo.de/Logo.png" alt="Ready Vet Go's logo" style="max-width: 300px" />
        <h1>Reset Your ReadyVetGo Password</h1>
        <p style="font-weight: bold">You have requested to reset your password for your account on <a href="https://readyvetgo.de">readyvetgo.de</a>. Please use the button below to proceed:</p>
        <a class="reset-button" href="<%-resetLink%>" style="background-color: #0F172AFF; border-radius: 6px; color: #ffffff; display: inline-block; font-weight: bold; letter-spacing: 0; line-height: normal; padding: 0.8rem 4rem 0.8rem 4rem; text-align: center; text-decoration: none; font-family: helvetica, sans-serif; font-size: 16px;">
            Reset Your Password
        </a>
        <p style="margin-top: 2rem;">If you did not initiate this password reset request, please disregard this email. For further assistance, kindly contact our support team at <a href="mailto:support@readyvetgo.de">support@readyvetgo.de</a>.</p>


        <div style="background: rgb(200, 200, 200); padding: 0.5rem 1rem; line-height: 1.2rem; font-size: 0.9rem; color: rgb(60, 60, 60); margin-top: 2rem;">
            <p style="font-weight: bold; font-size: 1.3rem; margin-bottom: 0.5rem;">ReadyVetGo</p>
            <p>SEBA Master 2024</p>
            <p>TUM School of Computation Information and Technology (CIT)</p>
            <p>Boltzmannstraße 3, 85748 Garching bei München</p>
            <p>This email has been sent to <a href="mailto:<%-email%>"><%-email%></a>.</p>
        </div>
    </div>
</div>
